li {
    display: inline-block;
    padding-right: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
   /* padding-bottom: 7vh; */
}

#excelPhoto{
  height: 5vh;
  width: 5vh;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  display: inline-block;
  margin-right: 5vh; 
}

.links li:last-child {
  margin-right: 0; 
}

.links a {
  color: rgb(57, 224, 38);
  font-size: 1em;
  text-decoration: none;
}

.centreLine a{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .links a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .form-row {
    display: flex;
    flex-direction: column;
  }
  
  .form-row div {
    margin-bottom: 10px;
  }


  input[type="text"],
  select,
  button {
    width: 100%;
    max-width: 300px; 
  }
}

@media screen and (max-width: 768px) {
  .form-row .mt-4{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1vh;
  }
}



body {
  min-width: 320px; 
}


.container {
  min-width: 600px; 
}



.box {
    border-radius: 10px;
   /* background-image: url('../static/a-and-b-show-the-50-white-noise-generated-by-a-random-number-generator-in-C.png') */
  }

.box label{
    color:rgb(241, 238, 238);
    margin-left: 5px;
}

#FileInput{
    padding-left: 230px;
}

#button{
    padding-left: 20px;
}

.positionForm{
    border: 10px solid #000;
    border-radius: 10px;
    background-image: url('../static/a-and-b-show-the-50-white-noise-generated-by-a-random-number-generator-in-C.png')
}


body .fileparsePosition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.searchButton{
    margin-right: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    color: rgb(57, 224, 38);
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../static/4034.jpg');
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    width: 100%;
}

img {
    max-width: 100%;
    height: auto; 
    opacity: 0.6;
}

img {
    width: 100%;
    height: auto; 
}

p {
    color: rgb(57, 224, 38);
}

#searchingBar{
    color: rgb(57, 224, 38);
}

label {
    color: rgb(57, 224, 38);
}

.message-404{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh; 
    padding-left: 50px;
}

.introHeader {
    color: rgb(57, 224, 38);
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.intro{
    padding-top: 30px;
}

.paragraphSpacing p {
    padding-left: 20px; 
    color: rgb(57, 224, 38);
}
.paragraphSpacing li {
  color: rgb(57, 224, 38);
}

h2 {
    color: rgb(57, 224, 38);
}


.app title{
    padding-bottom: 20px;
}

.centreLine{
    display: flex;
    justify-content: center;
    align-items: center;
}

.indented-paragraph {
  padding-left: 20vh;
  padding-right: 20vh;
}
.indented-paragraph2{
  padding-left: 42vh;
  padding-right: 20vh;
}



#table-container {
    padding-top: 4vh;
    position: relative;
    overflow: auto;
    height: 400px; 
  }
  
  .table-header {
    position: sticky;
    top: 0;
    background-color: rgb(57, 224, 38);
  }

  .container .library-container{
    padding-bottom: 30px;
  }

  .documentationTitles{
    padding-bottom: 3vh;
  }

  .form-row.mt-4 label{
    color: rgb(57, 224, 38);
  }

  .form-row.mt-4 button{
    background-color: rgb(57, 224, 38);
    color:rgba(0, 0, 0);
  }

  .DataAnalyticsCentre button{
    background-color: rgb(57, 224, 38);
    color:rgba(0, 0, 0);
  }

  .links {
    background-color: rgb(65, 24, 24, 0.5); 
    border-bottom: 2px solid #333333; 
    overflow: hidden;
  }
  
  .links ul {
    list-style-type: none;
    background-color: rgb(65, 24, 24, 0.5);
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .links li {
    display: inline;
    background-color: rgb(65, 24, 24, 0.5);
    margin-right: 20px; 
  }
  
  .links a {
    text-decoration: none;
    background-color: rgb(65, 24, 24, 0.5);
    color: #333; 
    font-size: 18px; 
  }
  
  .links a:hover {
    text-decoration: underline;
    background-color: rgba(158, 198, 88, 0.5);
  }

  .homeTemplate{
    display: grid
  }

  #tableBody{
    width: 100%;
  }

  .centerHeader{
    color:rgb(57, 224, 38);
    padding-bottom: 1em;
  }

  .centerText{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100vh !important; 
    margin: 0 !important;  
  }

  .subHeaders{
    padding-bottom: 2em;
    padding-top: 2em;
  }
  


  

  
