{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>European Commission Product Database Library- TVs and displays</title>
       <!-- <link rel="stylesheet" href="{% static 'EPREL.css'%}"> -->
       <link rel="stylesheet" type="text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>

      {% include "header.html" %}

      <h1>API</h1>
      <h2 class="indented-paragraph" class="centerHeader" class="subHeaders"> About this API</h2>
      <br>

      <p class="indented-paragraph">The API for this website will allow clients to send json data specifying the location they are in, the day of the week and the TV their users/customers are using. 
        In response the API will return the time of peak data traffic for that day along with energy use statistics relating to the TV that is sent within the API. </p>
        <p class="indented-paragraph">To send TV information, clients will have to send the brands and model numbers of a TV. Alteratively, clients can also send user agent strings of a TV to this API. In response, the API will 
          send the energy class of the TV from A to G (with A representing energy efficient and G representing energy inefficiency) and the API will also specify the time of peak data traffic within the location and day specified within the API request. </p>
      <p class="indented-paragraph">If you are not within one of these locations (locations can be observed below), you can also send a request to the API which will return the time of 
        average peak data traffic amongst all of these regions. If your users are not using a TV but you still wish to use the API, please specify the attributes model, brand and tv agent string attributes within the API JSON request as 'null'. </p>

      <h2 class="indented-paragraph" class="subHeaders"> How to use the API</h2>
      <br>
      <p class="indented-paragraph">To use this API, please send JSON post request to the url: reduce-tv-energy/api/</p>
      <p class="indented-paragraph">Within this post request you need to write the attributes location, day, brand, model and tv_agent_string like so: </p>
      <p class="indented-paragraph">
        {
          "location": "outer london",
          "day": "saturday", 
          "brand": "samsung",
          "model": "HG50EJ690YA",
          "tv_agent_string": "Mozilla/5.0 (SMART-TV; Linux; Tizen 6.0) AppleWebKit/537.36 (KHTML, like Gecko) 4.0 Chrome/76.0.3809.146 TV Safari/537.36"
        }
      </p>
      <p class="indented-paragraph">
        To specify the location please use the locations below (location JSON attributes are case insensitive): <p>
      <p class="indented-paragraph">
          North America <br>
          London <br>
          Nairobi <br>
          Manchester <br>
          Scotland <br>
          Wales <br>
          Middle East
      </p>
      <p class="indented-paragraph">
        To specify the day please use any day of the week (do not input dates, inputs are also case insensitive):  
       To specify the brand please use the brand name. Examples of brands that would be recognized 
        include samsung, panasonic, TCL. Please note that brand names are case insensitive. 
       Please ensure that the model number is as accurate as possible as the model attribute of the JSON request is case sensitive. 
      Alternatively, if the device is not a TV, please specify the model, brand and tv user agent string attributes within the JSON request as 'null'.
       </p>
      
      <p class="indented-paragraph">
      In response, the api will return a peak value which will represent the average peak data traffic time for that day within the location specified.  The API will also return the overall energy class, the energy class in 
        standard dynamic range and the energy class in high dynamic range if a TV is included within the JSON request. Here is an example JSON request:
      </p>
      <p class="indented-paragraph">
        {
          "location": "middle east",
          "day": "saturday",
          "model": "T1931SAW-B5 B",
          "brand": "IIYAMA",
          "tv_agent_string": "Mozilla/5.0 (SMART-TV; Linux; Tizen 6.0) AppleWebKit/537.36 (KHTML, like Gecko) 4.0 Chrome/76.0.3809.146 TV Safari/537.36"
      } 
    </p>

      <p class="indented-paragraph"> and here is an example API response:</p>
      <p class="indented-paragraph">
        {
          "peak": "20:00:00 UTC",
          "energy data": {
              "energy data": [
                  {
                      "energy_class": "E",
                      "energy_class_sdr": "E",
                      "energy_class_hdr": "NA"
                  }
              ]
          },
          "agent_string_data": {
              "agent-string_data": [
                  {
                      "energy_class": "G",
                      "energy_class_sdr": "G",
                      "energy_class_hdr": "G"
                  }
              ]
          }
      }
      </p>
      <p class="indented-paragraph">Click on the link for an explanation for the energy metrics within the API JSON responses:</p>
      <a class="indented-paragraph" href="https://commission.europa.eu/energy-climate-change-environment/standards-tools-and-labels/products-labelling-rules-and-requirements/energy-label-and-ecodesign/energy-efficient-products/electronic-displays-including-televisions_en" target="_blank" >Energy product Registry</a>
      <br>
      <br>
      <h2 class="indented-paragraph" class="centerHeader" class="subHeaders"> Invalid Responses and no corresponding TVs Response</h2>
      <br>
      <p class="indented-paragraph"> The times will always be in UTC so depending on your location, please handle the conversion in time appropriately. Additionally, if your API request
        does not conform to the location and day attributes above by either being an invalid location orday or being invalid in JSON structure, you will receive a specific error 
        response detailing your error like so:  </p>
        <p class="indented-paragraph"> 
        {
          "error": "Invalid day"
        }
        </p>
        <p class="indented-paragraph"> 
        {
          "error": "Invalid location"
        }
        </p>
        <p class="indented-paragraph"> 
        {
          "error": "Invalid JSON in request body"
        }
        <p>
        <p class="indented-paragraph">If the day and location are valid and the TV sent does not correspond with the TVs stored within the site's database, 
          the API will respond like so:
        </p>
        <p class="indented-paragraph">
          {
            "peak": "20:00:00 UTC",
            "energy data": {
                "energy data": "No TV corresponds with brand and model sent in API request"
            },
            "agent_string_data": {}
        }
        </p>
        <h2 class="indented-paragraph" class="centerHeader" class="subHeaders"> Here are some valid JSON request examples</h2>
        <br>
        <p class="indented-paragraph">
          {
            "location": "outer london",
            "day": "monday",
            "model": "HG75EJ690YA",
            "brand": "samsung"
            "tv_agent_string": "Mozilla/5.0 (SMART-TV; Linux; Samsung 6.0) Model/HG50EJ690YA 4.0 Chrome/76.0.3809.146 TV Safari/537.36"
          }
        </p>
        <p class="indented-paragraph">
          {
            "location": "middle east",
            "day": "Friday",
            "model": "null",
            "brand": "null"
            "tv_agent_string": 'null'

          }
        </p>

        <br>
        <br>
        <br>

        



{% include "footer.html" %}