{% load static %}

<p class = "indented-paragraph">Below is a monthly dashboard for the long term web scraping I conducted on the LINX data set. Use the filter options to observe the recorded differences
  in data traffic between May and November 2023 and vary filters for more in depth findings. To alternate between months, days and hours, utilise the plus and minus buttons at the bottom and 
top left of the dashboard respectively. The plus button is easily visible if the user were to hover their mouse in the bottom left (slightly to the left of the month May column). Clicking the plus button while the y-axis is 
in Months will then allow users to observe the Dashboard with smaller time intervals on the y-axis. To reverse these changes in y-axis, click on the top left minus button. This button becomes visible when you hover in the top left corner of the dashboard (slightly to the left of the month May column). 
To ensure that you can view the data traffic trajectories of an individual region, deselect all regions bar the region you wish to observe. </p>

<div class='tableauPlaceholder' id='viz1700316598579' style='position: relative'>
  <noscript><a href='#'><img alt='Sheet 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;LI&#47;LINXdashboard&#47;Sheet1&#47;1_rss.png' style='border: none' /></a>
  </noscript><object class='tableauViz'  style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
    <param name='embed_code_version' value='3' /> 
    <param name='site_root' value='' />
    <param name='name' value='LINXdashboard&#47;Sheet1' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;LI&#47;LINXdashboard&#47;Sheet1&#47;1.png' /> 
    <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' /><param name='language' value='en-GB' />
  </object></div>                
  <script type='text/javascript'>                    
  var divElement = document.getElementById('viz1700316598579');                    
  var vizElement = divElement.getElementsByTagName('object')[0];                    
  vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
  var scriptElement = document.createElement('script');                    
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
  vizElement.parentNode.insertBefore(scriptElement, vizElement);                
  </script>

  <br>
  <br>
  <br>



<h2 class = "indented-paragraph">Daily Dashboard</h2>

<p class = "indented-paragraph">Below is a daily dashboard for the long term web scraping I conducted on the LINX data set. Use the filter options to observe the recorded differences
  in data traffic within the average daily data traffic and vary filters for more in depth findings. To alternate between hours and minutes, utilise the plus and minus buttons at the bottom and 
  top left of the dashboard respectively. The plus button is easily visible if the user were to hover their mouse in the bottom left. Clicking the plus button while the y-axis is 
  in hours will then allow users to observe the Dashboard with smaller time intervals on the y-axis. To reverse these changes in y-axis, hover on the top left of the dashboard and click on the top left minus button.
  To ensure that you can view the data traffic trajectories of an individual region, deselect all regions bar the region you wish to observe.
</p>


<div class='tableauPlaceholder' id='viz1700322721023' style='position: relative'>
  <noscript><a href='#'><img alt='Sheet 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;LI&#47;LINXdaily&#47;Sheet1&#47;1_rss.png' style='border: none' /></a>
  </noscript>
  <object class='tableauViz'  style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
     <param name='embed_code_version' value='3' /> 
     <param name='site_root' value='' />
     <param name='name' value='LINXdaily&#47;Sheet1' />
     <param name='tabs' value='no' />
     <param name='toolbar' value='yes' />
     <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;LI&#47;LINXdaily&#47;Sheet1&#47;1.png' /> 
     <param name='animate_transition' value='yes' />
     <param name='display_static_image' value='yes' />
     <param name='display_spinner' value='yes' />
     <param name='display_overlay' value='yes' />
     <param name='display_count' value='yes' />
     <param name='language' value='en-GB' />
     </object></div>                
     <script type='text/javascript'>
     var divElement = document.getElementById('viz1700322721023');                   
     var vizElement = divElement.getElementsByTagName('object')[0];                    
     vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
     var scriptElement = document.createElement('script');                    
     scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                   
    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>

    <br>
    <br>
    <br>
    <br>






