{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>European Commission Product Database Library- TVs and displays</title>
       <!-- <link rel="stylesheet" href="{% static 'EPREL.css'%}"> -->
       <link rel="stylesheet" type="text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>


  {%include "header.html"%}

  <h1 class="centerHeader">TV data Parser</h1>

  <p class = "indented-paragraph2"> 
    Column Setup: Prior to parsing, ensure that your Excel file includes the following columns: <br> 
    device_brand: Create or edit a column with the header device_brand to specify the TV's brand. <br> 
    device_model: Create or edit a column with the header device_model to specify the TV's model number.<br>
    These two column headers are essential for successful parsing. If you fail to this, no excel file will appear. <br>
    Here is an example of a correctly formatted excel file and a link to explain energy metrics used within your <br> parsed excel files: </p>
    <div class="centreLine">
      <a href="{% static 'exampleExcelFile.xlsx' %}"> Example excel file</a>
    </div>
    <div class="centreLine">
    <a href="https://commission.europa.eu/energy-climate-change-environment/standards-tools-and-labels/products-labelling-rules-and-requirements/energy-label-and-ecodesign/energy-efficient-products/electronic-displays-including-televisions_en" target="_blank">Energy product Registry</a>
  </div>
    <br>
  <div class= "DataAnalyticsCentre">
    <div class="container d-flex justify-content-center align-items-center" class="positionForm" style="height: 15vh;">
      <form id="parse" method="POST" class="form-group text-center">
         {% csrf_token %}
          <label for="FileInput">Upload .xlsx File:</label>
          <input type="file" class="form-control-file" id="FileInput" name="FileInput">
          <button id="button" type="submit" class="btn btn-primary">Get excel file with TV energy data</button>
      </form>
    </div>
  </div>

  
  <div id="parseError"></div>
  <script>var parserUrl = "{% url 'parse_excel' %}";</script>

<script src="{% static 'parserHandler.js' %}"></script>
<script>
  var csrfToken = "{{ csrf_token }}";
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



{% include "footer.html" %}