{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>European Commission Product Database Library- TVs and displays</title>
       <!-- <link rel="stylesheet" href="{% static 'EPREL.css'%}"> -->
       <link rel="stylesheet" type="text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>

{% include "header.html" %}
      <h1 class="centerHeader">Documentation</h1>

      <h2 class="centreLine" class="subHeaders" >Parsing your excel file for TV data Parser</h2>
      <br>
      <p class="centreLine"> Column Setup: Prior to parsing, ensure that your Excel file includes the following columns: <br> <br>
        
        device_brand: Create or edit a column with the header device_brand to specify the TV's brand. <br> 
        device_model: Create or edit a column with the header device_model to specify the TV's model number.<br>
        These two column headers are essential for successful parsing. If you fail to this, no excel file will appear</p>
       
      <p class="centreLine">Parsing Process: When you parse the Excel file with these designated columns, an automatic download will commence 
        in your web browser.  <br> The downloaded file will contain the corresponding energy data for the TVs, 
        presented as new columns alongside the TV information. Importantly, <br> this process will not erase 
        any other data in your original Excel file, allowing you to retain any additional information you may have included. <br> </p>

      <p class="centreLine">Data Privacy: Your Excel data will not be stored in our database at any point during this process.
        To ensure alignment with the library's data, please make <br> sure that the "device_brand" column accurately reflects the TV's actual brand. 
        For example, entries like "Samsung," "TCL," or "IIYAMA" in the "device_brand" <br> column will yield successful parsing results.
      </p>
      <br>
      <h2 class="centreLine" class="subHeaders">Using the LINX dashboard</h2>
      <br>
      <p class="centreLine"></p>
      

{% include "footer.html" %}