{% load static %}

<body>
    <header>
        <nav>
            <ul class = "links">
                <li><a href= "{% url 'home' %}" style="color: rgb(57, 224, 38); font-size: 1em; width: 25vh;">About this Application</a></li>
                <li><a href="{% url 'searchLibrary' %}" style="color: rgb(57, 224, 38); font-size: 1em; width: 25vh;">Search Library</a></li>
                <li><a href="{% url 'data analytics' %}" style="color: rgb(57, 224, 38); font-size: 1em; width: 25vh;">TV Data Parser</a></li>
                <li><a href="{% url 'liveDashboard' %}" style="color: rgb(57, 224, 38); font-size: 1em; width: 25vh;">LINX Dashboards</a></li>
                <li><a href="{% url 'API' %}" style="color: rgb(57, 224, 38); font-size: 1em; width: 25vh;">API</a></li>
            </ul>
        </nav>
        <br>
    </header>

