{% load static %}

<body>
    <header>
        <nav>
            <ul class = "links">
                <li><a href="http://localhost:8000/" style="color: rgb(57, 224, 38); font-size: 1em; width: 25vh;">About this Application</a></li>
                <li><a href="http://localhost:8000/search" style="color: rgb(57, 224, 38); font-size: 1em; width: 25vh;">Search Library</a></li>
                <li><a href="http://localhost:8000/TVDataParser/" style="color: rgb(57, 224, 38); font-size: 1em; width: 25vh;">TV Data Parser</a></li>
                <li><a href="http://localhost:8000/liveDashboardPage/" style="color: rgb(57, 224, 38); font-size: 1em; width: 25vh;">LINX Dashboards</a></li>
                <li><a href="http://localhost:8000/APIPage/" style="color: rgb(57, 224, 38); font-size: 1em; width: 25vh;">API</a></li>
        </nav>
        <br>
    </header>

