{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>European Commission Product Database Library- TVs and displays</title>
       <!-- <link rel="stylesheet" href="{% static 'EPREL.css'%}"> -->
       <link rel="stylesheet" type="text/css" href="{% static 'background.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>

{% include "header.html" %}

<h1 class="centerHeader">About this Application</h1>

    <p  class="indented-paragraph">Welcome to the application aimed to reduce TV energy consumption! </p>
    <br>
    <p  class="indented-paragraph">This app's purpose is to reduce the energy consumption of TVs while they are in the use-phase and the app also seeks to reduce the amount of data traffic within  ICT Networks and Data Centres during peak times which connected TVs disproportionately contribute towards. </p>
    <br>
    <p  class="indented-paragraph">The search library will show associated energy use statistics for TVs, Smart TVs, Monitors, and displays you wish to search for. The aim of this library is for users to buy the most energy efficiency connected TV </p>
    <br>
    <p  class="indented-paragraph">The TV data Parser will parse excel files containing TV data (which must include brand and device model of the TVs) and it will return an excel file which will populate energy  use data associated with the TVs within your excel file.
    Please look through the documentation page for formatting your excel files for this section. </p>
    <br>
    <p  class="indented-paragraph">The LINX dashboards will display data traffic collected from the London Internet Exchange between 
        31/05/2023 and 14/11/2023 both during the months and also as a daily average for each region. The London Internet Exchange tracks data traffic all across the world and records data traffic in UTC time.
    Hopefully this dashboard will give some insights into data traffic trajectories for the current location that you are situated in.  </p>
    <br>
    <p  class="indented-paragraph">The API section will outline the documentation for using the API for the application. 
    The API will display the time when data traffic is highest within a certain day within a specific region. You can also send the brand and model numbers 
    of TVs to the API and in response the API will display energy data use statistics related to the TV. The aim of this API is to suggest users 
to use a more efficient device or use a smaller device during the times of when peak data traffic is flowing through ICT Networks and Data Centres. </p>
    <br>



{% include "footer.html" %}