{% load static %}

<body>

  <p class="centreLine">Search TVs for their related energy use data. If you do not input any data into the text boxes, an empty search box will return all the  brands and/or <br> models. 
    Click on the following link for an explanation for the energy use data associated with the TVs in the database: 
  </p>
  <a class="centreLine" href="https://commission.europa.eu/energy-climate-change-environment/standards-tools-and-labels/products-labelling-rules-and-requirements/energy-label-and-ecodesign/energy-efficient-products/electronic-displays-including-televisions_en" target="_blank">Energy product Registry</a>
  

  <div class="container library-container" style ="padding-bottom: 5vh;">
    <div class="row">
      <div class= "box">
      <form id="myForm" method="POST">
        {% csrf_token %}
        <div class="box">
          <div class="form-row mt-4" style="display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 1vh;">
            <div>
              <label for="manufacturer">Brand name (samsung etc):</label>
              <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Type brand name" style="width: 25vh">
            </div>
            <div>
              <label for="model_number">Model Number:</label>
              <input type="text" class="form-control" id="model_number" name = "model_number" placeholder="Type model number" style="width: 25vh">
            </div>
            <div>
              <label for="FilterDatabase">Filter Database:</label>
              <select class="form-control" id="FilterDatabase" name="filter" style="width: 25vh">
                <option value="Overall Energy Class">Overall Energy Class</option>
                <option value="Standard Dynamic Range">Standard Dynamic Range</option>
                <option value="High Dynamic Range">High Dynamic Range</option>
                <option value="Energy Class HDR">Energy Class HDR</option>
                <option value="Energy Class SDR">Energy Class SDR</option>
              </select>
            </div>
            <div>
              <label for="search">Search the database:</label>
              <button class="btn btn-primary" id="searchButton" type="submit" style="width: 25vh">Search</button>
            </div>
            <div>
              <label for="clear">Clear search result(s):</label>
              <button id="clear" type="button" class="btn btn-primary" style="width: 25vh">Clear</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div style="padding-top: 5vh"></div> 
  
    <div id="searchingBar" style="padding-top: 5vh"></div>
      <div id="table-container" style="padding-top: 5vh">
        <div class="table-header" style = "position: sticky; top: 0;">
          <table class="table" id="tableHeader" style = "position: sticky; top: 0;">
            <!-- Table header content will be dynamically added here -->
          </table>
        </div>
        <div class="table-body scrollable-table">
          <table class="table" id="tableBody">
            <!-- Table body content will be dynamically added here -->
          </table>
        </div>
      </div>
    </div>
  </div>
  
<script src="{% static 'inputHandler.js' %}"></script>
<script>
  var csrfToken = "{{ csrf_token }}";
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% include "footer.html" %}
